
  
body {
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148806276.jpg');
}

.loginandregister{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.loginandregister > a {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-content: center;
    box-sizing: content-box;
}

.loginandregister > a:hover {
    background-color: white; /* Green */
    border: 2px solid #4CAF50;
    color: #4CAF50;
    font-weight: 700;
}

.loginandregister > a:nth-child(1) {
    border-radius: 10px 0 0 10px;
    border-right: 1px solid white;
}

.loginandregister > a:nth-child(2) {
    border-radius: 0 10px 10px 0;
    border-left: .25px solid white;
}


.formregister {
    width: 400px;
    background: #ea910d;
    padding: 30px;
    margin: 10px auto 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px rgb(244, 239, 239);
}
  
.formregister h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
  
.controls {
    width: 100%;
    background: #edf0f3;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
}
  
.formregister p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
  
.formregister a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
  
.formregister a:hover {
    color: white;
    text-decoration: underline;
}
  
.formregister .botons {
    width: 100%;
    background: #000000;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
