.footerfin{ 
    box-sizing: border-box;
}
.footersection {
	padding: 18px 0 16px;
	overflow: hidden;
	background: #F1F3FF;
}

.footermenu {
	list-style: none;
	float: right;
}

.footermenu li {
	display: inline;
}

.footermenu li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	margin-left: 30px;
}

.copyright {
	float: left;
	margin-bottom: 0;
	font-weight: 500;
	color: #000000;
}
